RewriteEngine On
DirectoryIndex index.php

# 1. Menambahkan trailing slash jika itu adalah direktori
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteRule (.*) $1/ [R=301,L]

# 2. Menghapus ekstensi .php dari URL (Redirect eksternal untuk browser)
# Pengecualian untuk POST agar tidak error saat submit form
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L,NE]

# 3. Menangani request tanpa ekstensi (Rewrite internal)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]
